
<%= form_with(model: @property, html: {class: "ui large form"}, local: true) do |form| %>
  <h4 class = "ui dividing header">Property Information</h4>
  <div class = "two fields">
    <div class = "field">
      <%= form.label :property_type, "Property Type" %>
      <%= form.select :property_type, options_from_collection_for_select(Category.all, :name, :name, form.object.property_type), { prompt: "Property Type" }, { required: true, class: "border border-success ui fluid dropdown" } %>
    </div>
    <div class = "field">
      <%= form.label :property_status, "Property Status" %>
      <%= form.select :property_status, property_status_list, { prompt: "Property Status" }, { required: true, class: "border border-success ui fluid dropdown" } %>
    </div>
  </div>

  <div class = "field">
    <label> <%= form.label :address, "Address" %></label>
    <div class = "fields">
      <div class = "twelve wide field">
         <%= form.text_field :address, placeholder: "Address", class: "border border-success", required: true %>
      </div>
    </div>
  </div>
  <div class = "field">
    <label><%= form.label :city, "City" %></label>
    <div class = "fields">
      <div class = "twelve wide field">
         <%= form.text_field :city, placeholder: "City", class: "border border-success", :required => true %>
      </div>
    </div>
  </div>
  <div class = "field">
    <label><%= form.label :owner_name, "Owner Name" %></label>
    <div class = "fields">
      <div class = "twelve wide field">
        <%= form.text_field :owner_name, placeholder: "Owner Name", class: "border border-success", :required => true %>
      </div>
    </div>
  </div>

  <div class = "field">
    <label><%= form.label :price, "Price" %></label>
    <div class = "fields">
      <div class = "twelve wide field">
        <%= form.text_field :price, placeholder: "Amount in INR (eg. 12000 )", class: "border border-success", :required => true %>
       </div>
    </div>
  </div>
  <div class = "field">
    <label> <%= form.label :area, "Area (in sqft)" %></label>
    <div class = "fields">
      <div class = "twelve wide field">
        <%= form.number_field :area, placeholder: "Area in sqft", class: "border border-success", :required => true %>
      </div>
    </div>
  </div>
  <div class = "field">
    <label> <%= form.label :contact_person, "Contact Person" %></label>
    <div class = "fields">
      <div class = "twelve wide field">
         <%= form.text_field :contact_person, placeholder: "Contact Person", class: "border border-success", :required => true %>
      </div>
    </div>
  </div>
  <div class = "field">
    <label> <%= form.label :phone_number, "Contact Number" %></label>
    <div class = "fields">
      <div class = "two wide field bg-success text-right text-white p-2 ml-2">
        +91
      </div>
      <div class = "ten wide field">
        <%= form.text_field :phone_number, placeholder: "Number without 0 or +91 (eg. 89xxxxxxxx )", class: "border border-success", :required => true %>
      </div>
    </div>
  </div>
  <div class = "field">
    <label><%= form.label :property_image, "Property Image" %></label>
    <%= form.file_field :property_image, class: "border border-success ui button", id: "property_image_style" %>
  </div>

  <%= form.submit @property.new_record? ? "SAVE" : "UPDATE", class: "ui green button m-2"%>

<% end %>
