<h1 class="text-center">SHOW</h1>

<%= render 'shared/errors', obj: @comment %>

<div class="card mb-3">
  <% if @property.property_image.attached? %>
    <%= image_tag(@property.property_image, style:"width:100%", height: 400,class: "card-img-top", alt: "No Image")%>
  <% end %>
  <div class="card-body">
    <h5 class="card-title">Property Details</h5>
    <p class="card-text"><small class="text-muted">Posted at <%= time_ago_in_words(@property.created_at)%></small></p>

    <table class="table">
      <tr>
        <th scope="col">Property Type</th>
        <td scope="row"><%= @property.property_type %></td>
      </tr>
      <tr>
        <th scope="col">Property Status</th>
        <td scope="row"><%= @property.property_status %></td>
      </tr>
      <tr>
        <th scope="col">Address</th>
        <td scope="row"><%= @property.address %></td>
      </tr>
      <tr>
        <th scope="col">City</th>
        <td scope="row"><%= @property.city %></td>
      </tr>
      <tr>
        <th scope="col">Price</th>
        <td scope="row"><%= @property.price %></td>
      </tr>
      <tr>
        <th scope="col">Area</th>
        <td scope="row"><%= @property.area %></td>
      </tr>
      <tr>
        <th scope="col">Owner Name</th>
        <td scope="row"><%= @property.owner_name %></td>
      </tr>
      <tr>
        <th scope="col">Contact person</th>
        <td scope="row"><%= @property.contact_person %></td>
      </tr>
      <tr>
        <th scope="col">Phone Number</th>
        <td scope="row"><%= @property.phone_number %></td>
      </tr>

    </table>
  </div>
</div>

<% if admin? && !@property.approved_status %>
  <hr>
  <div class="ui primary button">
    <%= link_to "Approve", approve_property_path(@property) ,class: "text-white"%>
    <i class="pl-1 check icon"></i>
  </div>
<% end %>
<% if logged_in? %>
  <hr>
  <div class="ui primary button ">
    <%= link_to favorite_text, favorites_update_path(property: @property), id: 'favorite_link'%>
    <i class="pl-1 heart icon"></i>
  </div>
  <br>
  Share Property Details:<%= social_share_button_tag(@property.property_type) %>
  <hr>
<% end %>
<%= form_with model: [@property, @comment] do |form| %>
  <div class="two fields">
    <div class="field">
      <%= form.label :rating, "Rating" %>
      <%= form.text_field :rating, placeholder: " Rating between 0 to 5", class: "border border-success" %>
    </div>
    <div class="field">
      <%= form.label :comment, "Comment" %>
      <%= form.text_field :comment, placeholder: " Comment", class: "border border-success" %>
    </div>
  </div>
  <%= form.submit "Comment", class: "ui green button"%>
<% end %>

<div class="ui threaded comments pb-3">
  <h3 class="ui dividing header">Comments</h3>
  <% @comments.each do |comment|%>
    <div class="comment">
      <div class="content">
        <a class="author"><%= comment.user.username %></a>
        <div class="metadata">
          <span class="date"><%= comment.created_at.strftime("%I:%M %p") %> </span>
        </div>
        <div class="text">
          <p>Comment:- <%= comment.comment %></p>
        </div>
        <div class="text">
          <p>Rating:- <%= comment.rating %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
