<h1 class = "text-center">SHOW</h1>

<%= render "shared/errors", obj: @comment %>

<div class = "card mb-3">
  <% if @property.property_image.attached? %>
    <%= image_tag(@property.property_image, style:"width:100%", height: 400,class: "card-img-top", alt: "No Image")%>
  <% end %>
  <div class = "card-body">
    <h5 class = "card-title">Property Details</h5>
    <p class = "card-text"><small class = "text-muted">Posted at <%= time_ago_in_words(@property.created_at)%></small></p>

    <table class = "table">
      <tr>
        <th scope = "col">Property Type</th>
        <td scope = "row"><%= @property.property_type %></td>
      </tr>
      <tr>
        <th scope = "col">Property Status</th>
        <td scope = "row"><%= @property.property_status %></td>
      </tr>
      <tr>
        <th scope = "col">Address</th>
        <td scope = "row"><%= @property.address %></td>
      </tr>
      <tr>
        <th scope = "col">City</th>
        <td scope = "row"><%= @property.city %></td>
      </tr>
      <tr>
        <th scope = "col">Price</th>
        <td scope = "row"><%= @property.price %></td>
      </tr>
      <tr>
        <th scope = "col">Area</th>
        <td scope = "row"><%= @property.area %></td>
      </tr>
      <tr>
        <th scope = "col">Owner Name</th>
        <td scope = "row"><%= @property.owner_name %></td>
      </tr>
      <tr>
        <th scope = "col">Contact person</th>
        <td scope = "row"><%= @property.contact_person %></td>
      </tr>
      <tr>
        <th scope = "col">Phone Number</th>
        <td scope = "row"><%= @property.phone_number %></td>
      </tr>

    </table>
  </div>
</div>

<% if @property.sold_or_rent_to_user_id != 0 %>
  <h3>The Property is <span class=" text-success "><%= @property.property_status %></span> to <span class=" text-success "> <%= check_current_owner(@property.sold_or_rent_to_user_id) %></span></h3>
<% end %>

<% if logged_in? %>
  <% if current_user.id == @property.user.id %>
    <div class = "ui primary button">
      <%= link_to "Edit Details", edit_property_path(@property) ,class: "text-white"%>
      <i class = "pl-1 check icon"></i>
    </div>
    <div class = "ui primary button">
      <%= link_to "Delete Property", property_path(@property), method: :delete, data: { confirm: "Are you sure?" }, class: "text-white" %>
      <i class = "pl-1 check icon"></i>
    </div>
    <hr>
  <% end %>
  <% if check_status(@property.property_status) && ( current_user.id != @property.user.id )  %>
    <% if admin? %>
      <h3><%= @property.property_status %> Property to:-</h3>
      <ul class="list-group">
        <% if @property_purchase_detail.present?  %>
          <% @property_purchase_detail.each do |property_purchase_detail| %>
            <li class="list-group-item d-flex justify-content-between align-items-center w-50">
              <%= property_purchase_detail.user.id %>:- <%= property_purchase_detail.user.username %> ( <%= property_purchase_detail.user.email %> )
              <span class="badge badge-primary  badge-pill">
                <%= link_to " #{ @property.property_status } ", change_property_status_property_path(@property,customer: property_purchase_detail.user.username,user: property_purchase_detail.user), data: { confirm: "Are you sure?" }, class: "text-white h5 px-3 py-2" %>
              </span>
            </li>
          <% end %>
        <% else %>
        No User has requested to <%= change_buy_rent_text(@property.property_status) %> this property
        <% end %>
      </ul>

    <% else %>
      <% if @property.approved_status? %>
        <h3>Apply for <%= change_buy_rent_text(@property.property_status) %></h3>
        <div class = "ui primary button">
          <%= link_to " #{ change_buy_rent_text(@property.property_status) } ", property_sell_rent_request_property_path(@property), data: { confirm: "Are you sure?" }, class: "text-white" %>
          <i class = "pl-1 check icon"></i>
        </div>
        <hr>
      <% end %>
    <% end %>

  <% end %>
<% end %>


<% if admin? && !@property.approved_status %>
  <hr>
  <div class = "ui primary button">
    <%= link_to "Approve", approve_property_path(@property) ,class: "text-white", data: { confirm: "Are you sure you want to approve?" } %>
    <i class = "pl-1 check icon"></i>
  </div>
<% end %>
<h3> View Count: <%= $redis.scard redis_add_user_string(@property) %></h3>
<hr>
<% if @property.approved_status? %>
  <% if logged_in? %>
    <% if current_user.id != @property.user.id %>
      <div class = "ui primary button ">
        <%= link_to favorite_text, favorites_update_path(property: @property), id: "favorite_link", data: { confirm: "Are you sure you want to #{favorite_text_conformation} favorite list?" }%>
        <i class = "pl-1 heart icon"></i>
      </div>
      <br>
    <% end %>
    Share Property Details:<%= social_share_button_tag(@property.property_type) %>
    <hr>
  <% end %>

  <% if current_user.id != @property.user.id %>
    <% $redis.sadd redis_add_user_string(@property), redis_user_count_string(current_user) %>
  <% end %>

  <% if logged_in? && ( current_user.id != @property.user.id ) %>
  <h3 class = "ui dividing header">Add Comment
  </h3>
    <%= form_with model: [@property, @comment] do |form| %>
      <div class = "two fields">
        <div class = "field">
          <%= form.label :rating, "Rating" %>
          <%= form.text_field :rating, placeholder: " Rating between 0 to 5", class: "border border-success" %>
        </div>
        <div class = "field">
          <%= form.label :comment, "Comment" %>
          <%= form.text_field :comment, placeholder: " Comment", class: "border border-success" %>
        </div>
      </div>
      <%= form.submit "Comment", class: "ui green button"%>
    <% end %>
  <% end %>
<% end %>

<h3 class = "ui dividing header">Comments</h3>
<% if @comments.present? %>
  <div class = "ui threaded comments pb-3">
    <% @comments.each do |comment|%>
      <div class = "comment">
        <div class = "content">
          <a class = "author"><%= comment.user.username %></a>
          <div class = "metadata">
            <span class = "date"><%= comment.created_at.strftime("%I:%M %p") %> </span>
          </div>
          <div class = "text">
            <p>Comment:- <%= comment.comment %></p>
          </div>
          <div class = "text">
            <p>Rating:- <%= comment.rating %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No Comments</p>
<% end %>
